@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Geist:wght@100..900&family=Mozilla+Headline:wght@200..700&family=Oswald:wght@200..700&family=Playwrite+MX+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Imported the original Vercel Font Style which vercel actyally uses,
Its the "Geist" font style, its available free on google font  */

/* Setting global styles for all elements */
* {
    margin: 0px;
    padding: 0px;
    font-family:"Geist",sans-serif; 
}

/* Fixed the header so that it remains at its place even when we scroll down */
.fixed-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
}

body {
    background-color: rgb(250, 250, 250);
}

/* Using flexbox in the header section */
.heading-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;

}

.hLeft {
    width: 33.33%;
    margin-left: 25px;
    margin-top: 15px;
}
.slash {
    color: rgb(235, 235, 235);
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.project-name {
    font-family: "Geist", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    vertical-align: 5px;
}
.Hobby {
    background-color: rgb(235, 235, 235);
    vertical-align: 5px;
    font-size: 13px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    border-radius: 12px;
    margin-left: 10px;
}
.up-down-arrow {
    width: 19px;
    opacity: 0.6;
    margin-left: 10px;
}
.hMiddle {
    flex: 0.5;
    /* width: 150px; */
}

.hRight {
    flex: 1;
    width: 33.33%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    position: relative;

}
.small-icon {
    width: 26px;

}
.small-icon:hover {
    cursor: pointer;
}

.profile-pic {
    margin-top: 10px;
    border-radius: 40px;
    /* margin-right: 20px; */
}

.book{
    margin: 20px;
    margin-top: 10px;
    margin-left: 9px;
    margin-right: 9px;
    border: 1px solid rgb(229, 229, 229);
    padding: 7px;
    padding-bottom: 4px;
    border-radius: 25px;
}
.book:hover, .notification:hover, .profile-pic:hover, .feedback-button:hover, .f-respect:hover, .Hobby:hover, .toggle-arrow:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 20px rgb(229, 229, 229);
    opacity: 0.8;
    transition: all 0.7s ease;
}
.notification {
    margin: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 0px;
    border: 1px solid rgb(229, 229, 229);
    padding: 7px;
    padding-top: 8px;
    padding-bottom: 4px;
    border-radius: 25px;

}

.search-input {
    position: absolute;
    top: 11px;
    left: 50px;
    border: none;
    outline: none;
    width: 90px;
    display: inline-block;

}
.search-input::placeholder {
    color: rgb(155, 155, 155);
    font-size: 20px;
    font-weight: 300;
}
.search-icon-holder {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;

}
.search-icon {
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 0px;

}

.f-respect {
    position: absolute;
    top: 5px;
    right: 7px;
    display: inline-block;
    padding-left: 7px;
    margin-top: 3px;
    padding-right: 7px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 5px;
    color: rgb(23, 23, 23);
    border: 1px solid rgb(229, 229, 229);
    transition: all 0.7s ease;
}

.search-bar {
    position: relative;
    border: 1px solid rgb(229, 229, 229);
    left: 0px;
    margin-top: 12px;
    /* padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px; */
    border-radius: 10px;
    width: 300px;
}

.Feedback {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    transition: all 0.7s ease;
}

.feedback-button {
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    height: 45px;
    align-items: start;
    padding-left:19px ;
    padding-right:19px;
    transition: all 0.7s ease;
    /* padding-top:5px ;
    padding-bottom:5px ; */

}

/* This comment is for the above code, 
here ends the first row/section of the header
I have actually tries to separate the single fixed header into 3 sections,
and 2 rows lateron */

.menu-bar {
    margin-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;

    border-bottom: 2px solid rgb(229, 229, 229);
}

.inMenu {
    background-color: white;
    border: none;
    padding: 10px;

    font-size: 16px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    transition: all 0.7s ease;

}
.inMenu:hover {
    cursor: pointer;
    transition: all 0.6s ease;
}
.Overview {
    color: black;
    font-weight: 500;
    border-bottom: 2px solid black;
}
.inMenu:hover {
    background-color: rgb(242, 242, 242);
    padding: 10px;

    font-weight: 500;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    transition: all 0.7s ease;
}

.inMenu:active {
    background-color: rgb(242, 242, 242);
    padding: 10px;
    text-decoration: underline;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/* Here officially starts the body of the webpage,
here I will be using Grids to create sections for 
different sets ie. Search Project, hamburgerMenu etc. */

.function-bar {
    padding-top: 175px;
    display: grid;
    grid-template-columns: 20fr 1fr 1fr 4fr;
    column-gap: 10px;
}
.project-search{
    border: 1px solid rgb(229, 229, 229);
    background-color: white;
    margin-left: 30px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 10px;
    border-radius: 6px;
}
.project-search-input {
    border: none;
    outline: none;
    color: rgb(63, 62, 62);
    background-color: transparent;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 18px;
    vertical-align: top;
}
.project-search-icon {
    padding-top: 5px;
}
.burger-menu {
    width: 50px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
    background-color: white;
    padding-top: 5px;
    padding-left: 6px;
    padding-left: 6px;
}
.burger-icon {
    padding: 10px;
    opacity: 0.6;
}
.burger-icon:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 0.6s ease;
}

.layout-toggle {
    width: 80px;
    padding: 30px;
    padding-top: 13px;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 7px;
}
.layout-toggle-icon1 {
    /* padding-left: 10px; */
    padding-right: 10px;
    opacity: 0.6;
}
.layout-toggle-icon2 {
    padding-left: 10px;
    opacity: 0.6;
}
.layout-toggle-icon2:hover, .layout-toggle-icon1:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 0.6s ease;
}

.add-new {
    padding: 10px;
    color: white;
    background-color: rgb(23, 23, 23);
    border: none;
    border-radius: 6px;
    padding-left: 15px;
    position: relative;
    margin-right: 18px;;
}
.add-new:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.6s ease;
}

.add-new-text {
    padding: 5px;
    font-size: 20px;
    display: inline-block;
    position:relative;
}
.dropdown {
    display: inline-block;
    right: 5px;
    position: absolute;
}
.drop-button-arrow {
    position: absolute;
    top:4px;
    right: 15px;
}


.content {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 35px;
}

/* This section is empty but, i have plan to use it later on to create 
same structure with flexbox */
.Usage {
}

/* Here starts the main section of the page, namely the
Projects rection and the Resource section, Review section
Used Grids only in this */
.Usage-box {
    border: 1px solid rgb(229, 229, 229);
    background-color: white;
    border-radius: 6px;
    position: relative;
    padding-bottom: 20px;
    margin-left: 40px;
}

.usage-heading {
    margin-left: 45px;
    font-size: 20px;
    line-height: 80px;
}
.Project-heading {
    margin-left: 5px;
    font-size: 20px;
    line-height: 80px;
}

.last-30-days {
    font-size: 19px;
    font-weight: 400;
    color: rgb(20, 20, 20);
    padding: 15px;
    padding-bottom: 5px;
}

.grid-hori {
    display: grid;
    grid-template-rows: auto;
    row-gap: 5px;
}

.updated {
    font-size: 18px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    padding: 15px;
    padding-top: 0px;
}

.Progress-circle {
    position: absolute;
    width: 20px;
    left: 25px;
    top: 85px;
}

.Progress-circle2 {
    position: absolute;
    width: 20px;
    left: 25px;
    top: 120px;
}

.Progress-circle3 {
    position: absolute;
    width: 20px;
    left: 25px;
    top: 152px;
}

.stats {
    font-size: 14px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    text-align: right;
}

.dark {
    display: inline-block;
    width: 1fr;
    color: rgb(9, 9, 9);
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    padding-top: 2px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgb(244, 244, 244);
    background-color: rgb(244, 244, 244);
    border-radius: 6px;
}
.light {
    display: inline-block;
    width: 1fr;
    color: rgb(9, 9, 9);
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    padding-top: 2px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid white;
    background-color: white;
    border-radius: 6px;
}

.expand {
    position: absolute;
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    padding: 8px;
    padding-bottom: 5px;
    border-radius: 30px;
    left: 235px;
}
.expand:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 20px rgb(229, 229, 229);
    opacity: 0.8;
    transition: all 0.6s ease;
}

.upgrade {
    position: absolute;
    background-color: rgb(23, 23, 23);
    color: white;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 25px;
    right: 19px;

    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 7px;
}
.upgrade:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.6s ease;
}

.Preview-box {
    color: rgb(102, 102, 102);
    font-size: 18px;
    font-weight: 300;
    padding: 70px;
    padding-bottom: 20px;
    text-align: center;
}

/* This is the Right Section ie. where the projects are shown,
its standardized and can be reused across different projects. */

.Project-template {
    border: 1px solid rgb(229, 229, 229);
    background-color: white;
    margin-right: 40px;
    border-radius: 7px;
    padding-top: 15px;
    position: relative;
    margin-bottom: 30px;
}

.product-icon {
    position: absolute;
    top: 15px;
    left: 15px;
}
.up-project-name {
    text-decoration: none;
    margin-top: 12px;
    font-size: 19px;
    color: rgb(28, 28, 28);
    padding-left: 90px;
}
.up-project-name:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.6s ease;
}

.up-project-domain {
    text-decoration: none;
    padding-left: 90px;
    margin-top: 4px ;
    font-size: 17px;
    color: rgb(108, 108, 108);
}
.up-project-domain:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.6s ease;
}
.github {
    font-size: 14px;
    color: black;
    font-weight: 400;
    background-color: rgb(230, 230, 230);
    width: 200px;
    padding: 5px;
    padding-left: 32px;
    margin-top: 27px;
    margin-left: 20px;
    border-radius: 15px;
}
.github-hover{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all 0.6s ease;
}
.github-hover:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.6s ease;
}
.github-icon {
    position: absolute;
    top: 95px;
    left: 25px;
}
.commit {
    font-size: 19px;
    color: black;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 15px;
}
.commit:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.6s ease;
}

.date {
    font-size: 18px;
    color: rgb(99, 99, 99);
    font-weight: 300;
    margin-top: 1px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.date:hover {
    cursor: pointer;
    transition: all 0.6s ease;
}
.root-branch:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.6s ease;
}

.performance {
    opacity: 0.6;
    border: 4px solid rgb(229, 229, 229);
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 35px;
    position: absolute;
    top: 15px;
    right: 70px;
}

.performance:hover {
    cursor: pointer;
    transition: all 0.6s ease;
}
.drop-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 25px;
    right: 30px;
    background-color: transparent;
    border: none;
}
.eye {
    color: rgb(102, 102, 102);
    position: absolute;
    top: 25px;
    left: 235px;
}

.footer-icon {
    position: absolute;
    top: 50px;
    left: 50px;
    
}

/* This is the end section, the footer section, used button rather than simple
elements so that later on more functionality can be added */
.footer {
    padding: 40px;
    padding-left: 80px;
    background-color: white;
    border-top: 1px solid rgb(229, 229, 229);
    position: relative;
}

.footer-button {

    background-color: transparent;
    border: none;
    color: rgb(102, 102, 102);
    font-size: 16px;
    font-weight: 500;
    margin: 0 12px;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.footer-button:hover {
    color: rgb(20, 19, 19);
    transition: all 0.6s ease;
}
.credit {
    font-size: 14px;
    color: rgb(102, 102, 102);
    text-align: left;
    margin-top: 20px;
}

.check {
    position: absolute;
    top: 70px;
    right: 130px;
    background-color: transparent;
    border: none;
    outline: none;
}
.blue-dot {
    opacity: 0.5;
    position: absolute;
    top: 73px;
    right: 290px;
}
.check-text {

    font-size: 18px;
    font-weight: 300;
    color: rgb(1, 113, 246);
}
.check-text:hover,.blue-dot:hover {
    cursor: pointer;
    transition: all 0.6s ease;
}